<main class="page__main">
  <section class="section-1" ></section>
  <input class="js-inputSearch" type="text" placeholder="Buscar serie...">
    <input class="js-btnSearch" type="submit" value="Buscar"> 
    <input class="js-btnReset" type="reset" value="reset">
    <article class="body_article">    <section class= "section-2">
      <h3 class="titleFavs">Series Favoritas </h3>
      <div class="js-containerFavs"></div>
    </section>
    <section class= "section-3">
   <div class="js-divContainer divTarget">
   </div>
  </section></article>

    <script src="main.js"></script>
</main>
