<main class="page__main">
  <section class="section-1" ></section>
    <input class="js-inputSearch" type="text" placeholder="Buscar serie...">
    <input class="js-btnSearch" type="submit" value="Buscar"> 
    <input class="js-btnReset" type="reset" value="reset">
    <article class="body_article">    
      <section class= "section-2">
        <h3 class="section-2__titleFavs">Series Favoritas (っ＾▿＾)🎔</h3>
         <div class="js-containerFavs section-2__seriesFavs"></div>
      </section>
      <section class= "section-3">
        <h3 class="section-3__titleSeries">✌Tu búsqueda✌</h3>
         <div class="js-divContainer section-3__seriesList">
         </div>
       </section>
   </article>

    <script src="main.js"></script>
</main>
