.header {
  height: 15vh;
  background-color: pink;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: aqua;
  @include desktop {
    height: 20vh;
  }

  // &__flowers {
  //   background-image: url("https://www.cameronsworld.net/img/content/29/4.gif");
  //   width: 90px;
  //   background-repeat: no-repeat;
  //   background-size: 100%;
  //   background-position: center;
  //   height: 76px;
  //   margin: 10px;
  // }
  // &__bottom {
  //   background-image: url("https://i.pinimg.com/originals/fa/14/27/fa1427d280b431afea5118a2b198f35f.gif");
  //   background-repeat: no-repeat;
  //   background-size: 100%;
  //   background-position: bottom;
  //   width: 33%;
  //   height: 50%;
  //   // display: block;
  //   position: relative;

  //   z-index: 99;
  // }

  // &__container {
  //   display: flex;
  //   width: 100%;
  //   justify-content: center;
  //   align-items: center;
  //   margin: 5%;
  // }
  &__title {
    &--name {
      font-family: "Sniglet";
      color: rgb(219, 255, 18);
      text-shadow: 3px 2px 2px rgb(255, 28, 115);
      font-size: 30px;
      padding: 5px;
      @include tablet {
        font-size: 40px;
      }
      @include desktop {
        font-size: 50px;
      }
    }

    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
