body {
  height: 100vh;
  // background-image: url("https://64.media.tumblr.com/0425c49c3a7408a1b29dace4b04f2f79/tumblr_inline_n1t6aygNyk1qfc9y0.gif");
  background-image: url("https://us.123rf.com/450wm/ingalinder/ingalinder1301/ingalinder130100019/17408994-seamless-lazo-rosa-y-fondo-de-las-rayas-patr%C3%B3n-lindo-beb%C3%A9-o-la-textura.jpg?ver=6");
  background-repeat: repeat;
}
