 .section-3{
    backdrop-filter: blur(0.7px);
    background-color: rgba(0, 0, 0, 0.2);
    border: yellow 7px solid;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-left: 20px;
    margin-top: 30px;
    width: 70vw;
    
  
    &__titleSeries{
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: 'Press Start 2P';
        font-size: 10px;
        color: rgb(170, 7, 61);
        background-color: yellow;
        width: 100%;
        height: 40px;
        border-radius: 30px;
        
    
    }
    &__seriesList {
        margin-top: 20px;
        font-family: fantasy;
        font-size: 20px;  
        color: yellow;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-flow: row wrap;
        padding-right: 10px;
        padding-left: 10px;
        padding-top: 10px;
        padding-bottom: 20px;
        // width: 50vw;
    }
}

.divSerie {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: pink 2px solid;
    background-color: rgba(255, 255, 255, 0.096);
    margin-top: 10px;
     margin-bottom: 10px;
     border-radius: 6px;
    cursor: pointer;
    
}
.js-divSerieFavorite {
    display: flex;
    flex-direction: column;
    width: 150px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
    background-color: pink;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 6px;
    cursor: pointer;
}
.image-search{
    border-radius: 10px;
    margin-top: 17px;
}
